.city li {
  list-style: none;
}

.city .temp {
  position: relative;
  right: 940px;
  top: 150px;
}
.degree {
  font-size: 150px;
}
.cityName {
  font-size: 60px;
}
.city .cityInfo {
  position: relative;
  bottom: 138px;
  right: 510px;
  margin: 30px;
}

.city .iconDescription {
  position: relative;
  bottom: 10px;
  right: 730px;
}
.units {
  position: relative;
  top: -40px;
}
