.card .card-img {
  height: 860px;
  width: 950px;
}
.card {
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );

  margin: 0;
}

p {
  color: rgb(255, 201, 100);
  font-size: 25px;
  font-weight: bold;

  margin: 35px 0px 20px 0px;
}
.weather li {
  list-style: none;
}
.data {
  display: block;
  text-align: right;
  position: relative;
  bottom: 30px;
  font-weight: lighter;
  font-size: 15px;
  padding: 20px;
}
.lines {
  color: red;
}
