p {
  margin: 35px 0px 20px 0px;
  font-size: 25px;
  font-weight: bold;
}
.card-body {
  border-left: 2px solid rgb(141, 144, 126);
}
.weather .card {
  background-color: initial;
  color: rgb(244, 246, 246);
  height: 870px;
  max-height: 100%;
  overflow: hidden;
}
.weather li {
  list-style: none;
}
.data {
  display: block;
  font-weight: lighter;
  font-size: 15px;
  padding: 10px;
  position: relative;
  bottom: 30px;
  text-align: right;
}
